{% extends 'base.html' %}
{% block content %}
<section style=" margin-top:100px; margin-bottom: 140px;">
    <div class="container" style="margin-left: 150px;">
        <div class="row">
            <div class="card mb-3 " style="">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <img src="{{ car.image.url  }}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title"> {{ car.make }} {{ car.model }}</h5>
                      <p class="card-text">Year: {{ car.year }}</p>
                      <p class="card-text">Transmission: {{ car.transmission }}</p>
                      <p class="card-text"><small class="text-muted">Category: {{ car.category }}</small></p>
                      <a class="btn btn-primary" href="{% url 'car_review_create'  car.id %}">Add Review</a>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="margin-bottom: 140px;">
  <div class="container">
    <div class="row">
      <div class="col col-sm-12" style="text-align: center;">
        <h3>{{ car.name }} {{ car.model }} Reviews</h3>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    {% for review in object.review_set.all %}
    <div class="row">
      <div class="col col-sm-12">
        <div class="card text-center">
          <div class="card-header">
            Review
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ review.title }}</h5>
            <p class="card-text">{{ review.description }}</p>
            <a href="{% url 'review_detail' review.id %}" class="btn btn-danger">Details</a>
          </div>
          <div class="card-footer text-muted">
            <small>added by {{ review.user }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}