{% extends 'base.html' %} 
{% block content %}

<section>
    <div class="container">
        <div class="row">
            <div class="card mb-3" style="">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <img src="{{ category.image.url }}" class="card-img" alt="...">
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title">{{ category.name }}</h5>
                      <p class="card-text">
                          {{ category.description }}
                      </p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
  <div class="container">
    <div class="row">
      {% for car in object.car_set.all %}
      <div class="col col-sm-4">
        <div class="card">
          <img src="{{ car.image.url }}" class="card-img-top" alt="..." />
          <div class="card-body" ">
            <h5 class="card-title">{{ car.make }} {{ car.model }}</h5>
            <p class="card-text">{{ car.transmission }}</p>
            <a href="{% url 'car_detail' car.id %}" class="btn btn-primary">Explore</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}